.wrap{	
	position: relative;
	display: inline-block; 
	width: 1020px; 
	margin: 0 auto; 
	padding: 0;
}
.left-box{
	background-image: url("../images/bg-darkblue.jpg");
  	color: #fff;
  	float: left;
	width: 30%;
	height: 300px;
	margin: 8px;
	padding: 8px;    
}
.middle-box{
	background-image: url("../images/bg-red.jpg");
  	float: left;
	width: 30%;
	height: 300px;
	margin: 8px;
	padding: 8px;  
}
.right-box{
	background-image: url("../images/bg-black.jpg");
   	float: left;
	width: 30%;
	height: 300px;
	margin: 8px;
	padding: 8px;       
}
.left-box h3, .middle-box h3, .right-box h3{
	border: 1px solid lightblue;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
.left-box h4, .middle-box h4, .right-box h4{
	color: lightblue;
	padding: 10px;
	margin: 10px;
}
.value a{
	font-size: 20px;
	color: #fff;
 	font-weight: 600;
}
.cart{
	color: #FFF;
	margin: 15px 10px 10px 10px;
}
.cart a{
	color: #fff;
	background: green;
	text-align: center;
	padding: 10px;
	display: block;
	font-weight: 500;
	border-radius: 3px;
}
.cart a:hover {
	background: #fff;
	color: green;
	border: 1px solid lightblue;
	cursor: pointer;
}