input[type="text"], input[type="email"], input[type="password"]{
	height: 35px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
	outline:none;
	border: 1px solid red;
	box-shadow: 0px 0px 4px red;
}
button, input[type="submit"]{
	height: 40px;
	display: block;
	background: #FFD700;
	color: #fefefe;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	border-radius: 4px;
	width: 120px;
}
button:hover, input[type="submit"]:hover{
	background: #87CEFA;
	color: black;
	box-shadow: 0px 0px 2px #87CEFA;
}
/* register page  */
.info{
	margin: 45px auto;
	padding: 30px;
	height: 500px;
}
.info input[type="text"],
.info input[type="email"],
.info input[type="password"], select{
	width: 400px;
	height: 40px;
	margin: 5px 0 14px 0;
}
select{
	height: 40px;
	width: 422px;
	padding: 0 5px;
	border: 1px solid #ccc;
	border-radius: 2px;	
	color: black;
}
select option:first-child{
	background: #FFD700;	
}
.info button{
	float: left;
	margin: 5px auto;
	width: 110px;
	font: bold Arial, Helvetica, sans-serif;
 }
.info .btn{
	width: 250px;	
	display: inline-block;
	margin: 60px 0 0 360px;
 }
.center{
    width: 185px;
    margin: 2px auto;
}
/* tow colum */
.box {
	width:450px;
	height:300px;
	margin:20px auto;
	padding:10px;
}
.left {
	clear:both;
	float:left;
}
.right {
	float:right;
}
