.slide{
	margin: 20px 5px 5px 5px;
	width: 300px; 
	height: 300px; 
	position: relative;
	display: inline-block;
    list-style: none;
}
#left-box{
	float: left;
	width: 33.33%;
}
#mid-box{
	float: left;
	width: 33.33%;
}
#right-box{
	float: left;
	width: 33.33%;
}
.title{
	position: absolute;	
	top: 35%;
}
.title h2{
	font-size: 20px;
	line-height: 20px;	
	color: #ADFF2F;
	padding: 5px 15px;
	text-align: center;
	font-weight: 600;
}
.title h3{
	font-size: 15px;
	line-height: 25px;
	color: #FFF8DC;
	background: #8B4513;
	padding: 0px 15px;
	text-transform: uppercase;
	text-align: center;	
}
ul.slideshow{
	list-style: none;
	width: 480px;
	height: 390px;
	overflow: hidden;
	position: relative;
	margin: 0;	
}
ul.slideshow li{
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
}
